<%= form_for @profile, url: user_profile_path(@user.id, @profile.id) do |f| %>
 
  <p>
    <%= f.label :bio %><br>
    <%= f.text_field :bio %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
      <%= f.label "Profile Photo" %><br>
      <%= f.file_field :avatar %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
