
<h1>User Profile</h1>
<div>
    <p>
        <strong>User Bio</strong>
        <%= @profile.bio %>
    </p>
    <p>
        <strong>User Description:</strong>
        <%= @profile.description %>
    </p>
    <img class="profile-picture" src=<%= @profile.imageurl %> alt="profile pic">
</div>

<% if current_user.present? %>
    <%= link_to 'Back', user_path(current_user) %>
<% else %>
    <%= link_to 'Back', root_path %>
<% end %>

