
<h1>User Profile</h1>
<div>
    <p>
        <strong>User Bio</strong>
        <%= @profile.bio %>
    </p>
    <p>
        <strong>User Description:</strong>
        <%= @profile.description %>
    </p>
    <% if @profile.avatar.attached? %>
        <img class="profile-picture" src=<%=(url_for(@profile.avatar)) %> alt="profile pic">
    <% else %>
        <img class="profile-picture" src="https://www.eyedocs.co.uk/components/com_community/assets/user-anon.png" alt="profile pic">
    <% end %>
        <%= render '/subscriptions_helpers/subscribe_button', :user => @profile.user %>
</div>

<% if current_user.present? %>
    <%= link_to 'Back', user_path(current_user) %>
<% else %>
    <%= link_to 'Back', root_path %>
<% end %>

