<head>
    <title>Trashing Blogs</title>
</head>
<body>
    <main class="main_index">
        
        <div class="body-container">
            <div class="column"></div>
            <div class="body-main">
                <header>
                    <h1 id="welcome">Welcome to TrashingBlogs</h1>
                    <% if current_user.present? && current_user.profile.present? %>
                        <%= link_to user_profile_path(current_user, current_user.profile) do %>
                            <%= image_tag current_user.profile.imageurl, :class => "profile-picture-logo" %>
                        <% end %>
                    <% end %>
                    <% if current_user %>
                        <span class="logout-info">
                            logged in as <%= current_user.name %>
                            <%= link_to "Log Out", logout_path %>
                        </span>
                    <% else %>
                        <span class="login-info">
                            <%= link_to "Sign Up", signup_path %> or
                            <%= link_to "Log In", login_path %>
                        </span>
                    <% end %>
                    <ul id="navPane">
                        <li><%= link_to'Home', root_path, :style=>'font-family: "Times New Roman"; color: white'%></li>
                        <li><%= link_to'Feed', articles_path, :style=>'font-family: "Times New Roman"; color: white'%></li>
                        <li><%= link_to'Article List', articles_path, :style=>'font-family: "Times New Roman"; color: white'%></li>
                        <% if current_user.present? %>
                            <li><%= link_to'Settings', user_path(current_user), :style=>'font-family: "Times New Roman"; color: white'%></li>
                        <% end %>
                    </ul>
                </header>
                <div class="article-container">
                    <div class="article-post">
                        <div class="article-content">
                            <div class="article-poster">
                                <% if @article.user %>
                                    <%= link_to user_profile_path(@article.user, @article.user.profile) do %>
                                        <%= image_tag @article.user.profile.imageurl, :class => "profile-picture-embed" %>
                                    <% end %>
                                    <div>
                                        Written by <%= @article.user.name %>
                                    </div>
                                <% end %>
                            </div>
                            <div class="article-body">
                                <h1>
                                    <%= @article.title %>
                                </h1>
                                <p>
                                    <%= @article.text %>
                                </p>
                            </div>
                        </div>
                        <div class='article-post-tags'>
                            <p>
                                Tags:
                                <%= @article.tag_list %>
                            </p>
                        </div>
                        <div class="article-button-container">
                                <%= button_to 'Article List', articles_path, :method => 'get', class: 'article-button', :style => 'background: linear-gradient(darkslategray, green)'%>
                                <%= button_to 'Report Abuse', new_article_abuse_report_path(@article), :method => 'get', class: 'article-button', :style => 'background: linear-gradient(darkred, red)' %>
                                <%= button_to 'Abuse Reports', article_abuse_reports_path(@article.id), :method => 'get', class: 'article-button', :style => 'background: linear-gradient(darkslategray, green)' %>
                        </div>
                    </div>
                </div>
                <div class="article-comments-section">
                    <div class="article-comments"
                        <h2>Comments</h2>
                        <%= render @article.comments %>
                    </div>
                    
                    <h2>Add a Comment</h2>
                    <%= render 'comments/form' %>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </main>
</body>