<head>
    <title>Trashing Blogs</title>
</head>
<body>
    <main class="main_index">
        
        <div class="body-container">
            <div class="column"></div>
            <div class="body-main">
                <header>
                    <h1 id="welcome">Welcome to TrashingBlogs</h1>
                    <% if current_user.present? && current_user.profile.present? %>
                        <%= link_to user_profile_path(current_user, current_user.profile) do %>
                            <% if current_user.profile.avatar.attached? %>
                                <%= image_tag current_user.profile.avatar, :class => "profile-picture-logo" %>
                            <% else %>
                                <%= image_tag("https://www.eyedocs.co.uk/components/com_community/assets/user-anon.png", :class => "profile-picture-logo") %>
                            <% end %>
                        <% end %>
                    <% end %>
                    <% if current_user %>
                        <span class="logout-info">
                            logged in as <%= current_user.name %>
                            <%= link_to "Log Out", logout_path %>
                        </span>
                    <% else %>
                        <span class="login-info">
                            <%= link_to "Sign Up", signup_path %> or
                            <%= link_to "Log In", login_path %>
                        </span>
                    <% end %>
                    <ul id="navPane">
                        <li><%= link_to'Home', root_path, :style=>'font-family: "Times New Roman"; color: white'%></li>
                        <li><%= link_to'Feed', articles_path, :style=>'font-family: "Times New Roman"; color: white'%></li>
                        <li><%= link_to'Article List', articles_path, :style=>'font-family: "Times New Roman"; color: white'%></li>
                        <% if current_user.present? %>
                            <li><%= link_to'Settings', user_path(current_user), :style=>'font-family: "Times New Roman"; color: white'%></li>
                        <% end %>
                    </ul>
                </header>
                <div class="article-container">
                    <div class="article-post">
                        <div class="article-content">
                            <div class="article-poster">
                                <% if @article.user %>
                                    <%= link_to user_profile_path(@article.user, @article.user.profile) do %>
                                        <% if @article.user.profile.avatar.attached? %>
                                            <%= image_tag @article.user.profile.avatar, :class => "profile-picture-embed" %>
                                        <% else %>
                                            <%= image_tag("https://www.eyedocs.co.uk/components/com_community/assets/user-anon.png", :class => "profile-picture-embed") %>
                                        <% end %>
                                    <% end %>
                                    <div>
                                        Written by <%= @article.user.name %>
                                    </div>
                                <% end %>
                            </div>
                            <div class="article-body">
                                <h1>
                                    <%= @article.title %>
                                </h1>
                                <p>
                                    <%= @article.text %>
                                </p>
                            </div>
                        </div>
                        <div class='article-post-tags'>
                            <p>
                                Tags:
                                <%= @article.tag_list %>
                            </p>
                        </div>
                        <div class="article-button-container">
                                <%= render '/subscriptions_helpers/subscribe_button', :user => @article.user, :current_user => current_user %>
                                <%= button_to 'Report Abuse', new_article_abuse_report_path(@article), :method => 'get', class: 'article-options-button', :style => 'color: blue; height: 30px; padding: 0px; border: 1px solid black; background: linear-gradient(#86E845, #6CBC6D); color: white; font-weight: bolder' %>
                                <% @like = @article.likes.find_by_user_id(current_user.id) %>
                                <% if @like %>
                                    <%= button_to 'Unlike!', article_like_path(@article, @like.id), :method => 'delete', class: 'article-options-button', :style => 'color: blue; height: 30px; padding: 0px; border: 1px solid black; background: linear-gradient(#86E845, #6CBC6D); color: white; font-weight: bolder'%>
                                <% else %>
                                    <%= button_to 'Like!', article_likes_path(@article), :method => 'post', class: 'article-options-button', :style => 'color: blue; height: 30px; padding: 0px; border: 1px solid black; background: linear-gradient(#86E845, #6CBC6D); color: white; font-weight: bolder' %>
                                <% end %>
                                
                        </div>
                        <span>This post has received <%= @article.likes.count %> Likes!</span>
                    </div>
                </div>
                <div class="article-comments-section">
                    <div class="article-comments"
                        <h2>Comments</h2>
                        <%= render @article.comments %>
                    </div>
                    
                    <h2>Add a Comment</h2>
                    <%= render 'comments/form' %>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </main>
</body>