<p>
    <strong>Title</strong>
    <%= @article.title %>
</p>

<p>
    <strong>Text</strong>
    <%= @article.text %>
</p>

<p>
    <strong>Tag</strong>
    <%= @article.tag %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a Comment</h2>
<%= render 'comments/form' %>

<%= link_to'Article List', articles_path%>
<%= link_to'Report this Article', new_article_abuse_report_path(@article, :abuse_reports) %>
<%= link_to'Abuse Reports', article_abuse_reports_path(:article_id, :abuse_reports) %>
